/*/ About*/
.about_content{
    display:flex;
    justify-content: space-between;
    gap: 1rem;
    margin: 2.5rem 0;
}
.max-container{
    max-width: 1200px;
    margin: 0 auto;
}

    .about_box{
        width:30%;
        background-color: var(--color-primary-variant);
        padding: 2rem 1rem;
        color: var(--color-text);
        border-radius: 1rem;
        cursor:default;

        box-shadow: 0 3px 10px rgb(0,0,0,0.2);
    }
    .about_box:hover.about_icon{
        transform: rotate(-15deg) scale(1.2);
        
    }
    .about_icon{
        font-size: 4rem;
        margin: 1rem 0;
        color:var(--color-accent);
        transition: all 300ms;
    }
    .about_title{
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 1rem;
    }
   