/* Global*/
:root {
    /* Colors*/
    --color-white: #fff;
    --color-black:#050a13;
    --color-blue:#03e8f9;
    --color-orange: #fd6413;
    --color-gray:#1b1e26;

    /* App Colors*/
    --color-primary: var(--color-black);
    --color-primary-variant: var(--color-gray);

    --color-accent: var(--color-blue);
    --color-accent-variant: var(--color-orange);
    --color-text: var(--color-white);
}

*{
    box-sizing: border-box;
}
body{
    font-family: 'roboto', sans-serif;
    margin:0;
    padding:0;
}
h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color:var(--color-text);
}



/*header 시작*/

.header{
    position:fixed;
    top: 0;
    width:100%;
    background: #050a13;
    padding: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_logo{
    display:flex;
    align-items: center;
    gap: 8px;
    width: 20%
}
.header_log_img{
    width:34px;
    height:34px;
}
.header_logo_title{
    font-size:1.8rem;
}
.header_nav{
    width:80%;
    display: flex;
    justify-content:flex-end;
}
.header_menu{
    display:flex;
    gap: 20px;
}

.header_menu_item{
    display: block;
    padding: 8px 16px;
    border-bottom: 1px solid transparent;
}
.header_menu_item:hover{
    border-bottom: 1px solid var(--color-accent);
}

/* Skills 시작*/
#skills{
    background-color:var(--color-primary-variant);
    color: var(--color-text);
    width: 100%;
}
/* skills bar 시작*/
.skills_bar{
    display:flex;
    flex-direction: column;
    padding: 1rem;
    gap: 0.5rem;
    
}
    .bar_text{
        display: flex;
        justify-content: space-between;
    }
    .bar_bg{
        width:100%;
        height:3px;
        background-color: var(--color-primary-variant);
        
    }
    
        .bar_value{
            height:3px;
            background-color: var(--color-accent);
                }

.skills_content{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 6fr 4fr;
    margin: 2rem 3rem;
    overflow: hidden;
    grid-template-areas: 
    "a b"
    "a c"
}
.skills_coding{
    grid-area: a;
    padding: 1rem;
    background-color:var(--color-primary);
    filter: brightness(150%);
}
.skills_tools{
    grid-area: b;
    padding: 1rem;
    background-color:var(--color-primary);
    filter: brightness(150%);
}
.skills_etc{
    grid-area: c;
    padding: 1rem;
    background-color:var(--color-primary);
    filter: brightness(120%);
}

/* text 처리 */
.skills_title{
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 1rem;
    font-size: 1.5rem;
}
.bar_text_02{
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 1rem;
    
}
